@page
@model IndexModel
@{
    double myValue = 0;

    ViewData["Title"] = "Home page";
    myValue = 23.7*15;
}

<div class="text-center">
    <h1 class="display-4">Welcome to D4 homepage</h1>
    <h3>Pull request</h3>
    <h3>Adding to VS Code support</h3>
    <h3>Adding to Azure DevOps CI/CD</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <h1>The value I have calculated is @myValue</h1>
    <h3>This is the value I have pulled from the code behind</h3>
    <p class="text-success">@Model.getVal("cb")</p>
    <br />
    <p class="text-danger">@Model.getVal("")</p>
    <br />
    <h3>This is now using the OSX build agent w/ dotnet-core-sdk-2.2</h3>
    <p class="text-success">Also working on local Windows build agent</p>
</div>
